:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title-header {
  background-color: #ffffff;
  color: #213547;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  display: flex;
  justify-content: flex-start;
  margin-left: 34px;
  padding: 10px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  text-align: center;
}

#summary-section {
  text-align: left;
  min-width: 75vh;
  min-height: 25vh;
  background-color: #423e3e;
  border: solid rgb(255, 253, 253) 1px;
  border-radius: 10px;
  padding: 0 0 0 20px;
}


@media (prefers-color-scheme: light) {
  :root, #title-header {
    color: #213547;
    background-color: #ffffff;
  }

}
